<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nextgen">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NextGen">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".admin.AdminActivity" />
        <activity android:name=".admin.TeacherActivity" />
        <activity android:name=".admin.StudentActivity" />
        <activity android:name=".admin.SpecializationsActivity" />
        <activity android:name=".admin.YearsActivity" />
        <activity android:name=".admin.SectionsActivity" />
        <activity android:name=".admin.CourseActivity" />
        <activity android:name=".admin.SubjectActivity" />

        <activity android:name=".teacher.TeacherDashboardActivity" />
        <activity android:name=".teacher.ViewStudentsActivity" />
        <activity android:name=".teacher.Exam" />
        <activity android:name=".teacher.GenerateQuestionsActivity" />
        <activity android:name=".teacher.ManageExamActivity" />
        <activity android:name=".teacher.ProfileActivity" />
        <activity android:name=".teacher.Question" />
        <activity android:name=".teacher.ExamMonitorActivity"/>
        <activity android:name=".teacher.CreateActivityActivity"/>


        <activity android:name=".student.StudentDashboardActivity" />
        <activity android:name=".student.StudentProfileActivity" />
        <activity android:name=".student.ResultActivity" />
        <activity android:name=".student.StudentProfileActivity" />
        <activity android:name=".student.TakeExamActivity" />
        <activity android:name=".student.StudentQRScannerActivity" />
        <activity android:name=".student.StudentActivitiesActivity" />


    </application>

</manifest>