<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nextgen">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NextGen">

        <!-- SINGLE FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Admin -->
        <activity android:name=".admin.AdminActivity" android:exported="false"/>
        <activity android:name=".admin.AcademicsActivity" android:exported="false"/>
        <activity android:name=".admin.TeacherActivity" android:exported="false"/>
        <activity android:name=".admin.StudentActivity" android:exported="false"/>
        <activity android:name=".admin.SpecializationsActivity" android:exported="false"/>
        <activity android:name=".admin.YearsActivity" android:exported="false"/>
        <activity android:name=".admin.SectionsActivity" android:exported="false"/>
        <activity android:name=".admin.CourseActivity" android:exported="false"/>
        <activity android:name=".admin.SubjectActivity" android:exported="false"/>

        <!-- Teacher -->
        <activity android:name=".teacher.TeacherDashboardActivity" android:exported="false"/>
        <activity android:name=".teacher.ViewStudentsActivity" android:exported="false"/>
        <activity android:name=".teacher.Exam" android:exported="false"/>
        <activity android:name=".teacher.GenerateQuestionsActivity" android:exported="false"/>
        <activity android:name=".teacher.ManageExamActivity" android:exported="false"/>
        <activity android:name=".teacher.ProfileActivity" android:exported="false"/>
        <activity android:name=".teacher.Question" android:exported="false"/>
        <activity android:name=".teacher.ExamMonitorActivity" android:exported="false"/>
        <activity android:name=".teacher.CreateActivityActivity" android:exported="false"/>
        <activity android:name=".teacher.SubjectSectionActivity" android:exported="false"/>
        <activity android:name=".teacher.TeacherActivitiesActivity" android:exported="false"/>
        <activity android:name=".teacher.ManageQuizActivity" android:exported="false"/>
        <activity android:name=".teacher.GenerateQuizActivity" android:exported="false"/>
        <activity android:name=".teacher.QuizMonitorActivity" android:exported="false"/>
        <activity android:name=".teacher.StudentAttendanceActivity" android:exported="false"/>
        <activity android:name=".teacher.AttendanceReportActivity" android:exported="false"/>

        <!-- Student -->
        <activity android:name=".student.QuizListActivity" android:exported="true"/>
        <activity android:name=".student.TakeQuizActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="nextgen" android:host="quiz" />
            </intent-filter>
        </activity>
        <activity android:name=".student.StudentDashboardActivity" android:exported="false"/>
        <activity android:name=".student.StudentProfileActivity" android:exported="false"/>
        <activity android:name=".student.ResultActivity" android:exported="false"/>
        <activity android:name=".student.StudentQRScannerActivity" android:exported="false"/>
        <activity android:name=".student.TakeExamActivity" android:exported="false"/>
        <activity android:name=".student.StudentActivitiesActivity" android:exported="false"/>
        <activity android:name=".student.ActivityDetailsActivity" android:exported="false"/>
        <activity android:name=".student.StudentQuizScannerActivity" android:exported="true"/>

    </application>

</manifest>
