<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.finale.nextgen">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.NextGen">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".LogoIntroActivity"
            android:theme="@style/DarkBlueTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="true" />

        <activity android:name=".admin.AdminActivity" />
        <activity android:name=".admin.AcademicsActivity" />

        <activity android:name=".admin.TeacherActivity" />
        <activity android:name=".admin.StudentActivity" />
        <activity android:name=".admin.SpecializationsActivity" />
        <activity android:name=".admin.YearsActivity" />
        <activity android:name=".admin.SectionsActivity" />
        <activity android:name=".admin.CourseActivity" />
        <activity android:name=".admin.SubjectActivity" />

        <activity android:name=".teacher.TeacherDashboardActivity" />
        <activity android:name=".teacher.ViewStudentsActivity" />
        <activity android:name=".teacher.Exam" />
        <activity android:name=".teacher.GenerateQuestionsActivity" />
        <activity android:name=".teacher.ManageExamActivity" />
        <activity android:name=".teacher.ProfileActivity" />
        <activity android:name=".teacher.Question" />
        <activity android:name=".teacher.ExamMonitorActivity" />
        <activity android:name=".teacher.CreateActivityActivity" />
        <activity android:name=".teacher.SubjectSectionActivity" />
        <activity android:name=".teacher.TeacherActivitiesActivity" />
        <activity android:name=".teacher.ManageQuizActivity" />
        <activity android:name=".teacher.GenerateQuizActivity" />
        <activity android:name=".teacher.QuizMonitorActivity" />
        <activity android:name=".teacher.StudentAttendanceActivity" android:exported="false"/>
        <activity android:name=".teacher.AttendanceReportActivity" android:exported="false"/>

        <!-- Student -->
        <activity
            android:name=".student.QuizListActivity"
            android:exported="true" />

        <!-- STUDENT TAKE QUIZ (deep link allowed) -->
        <activity
            android:name=".student.TakeQuizActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="nextgen" android:host="quiz" />
            </intent-filter>
        </activity>

        <activity android:name=".student.StudentDashboardActivity" />
        <activity android:name=".student.StudentProfileActivity" />
        <activity android:name=".student.ResultActivity" />
        <activity android:name=".student.StudentQRScannerActivity" />
        <activity android:name=".student.TakeExamActivity" />
        <activity android:name=".student.StudentActivitiesActivity" />
        <activity android:name=".student.ActivityDetailsActivity" />
        <activity android:name=".student.QuizResultActivity" />
        <activity android:name=".student.StudentAttendanceViewerActivity" android:exported="false"/>


        <!-- ✅ Correct scanner for QUIZ -->
        <activity
            android:name=".student.StudentQuizScannerActivity"
            android:exported="true" />

    </application>

</manifest>